<script setup>

import {computed} from 'vue';

const props = defineProps({
  type: String,
  data: Object,
  itemIndex: Number
})

const seriesTitle = computed(() => {
  if( props.data.content.current) {
    return `${props.data.content.current} - ${props.data.content.type } - ${props.data.content.id } - ${ props.data.content.slug } -
          ${ props.data.content.name } - ${ props.data.content.series.length }`
  }

})

</script>

<template>


  <div class="border-2 bg-blue-400 w-full p-4 mb-5 rounded-lg" v-if="props.data">

    <div class="flex" v-if="props.data.content.type === 'topAlbum'">
      <div class="bg-blue-100 w-full p-2 h-[6.25rem]">
        <p class="text-center text-sm text-black uppercase">
          {{ props.data.content.content.topAlbum.name }}
        </p>
      </div>
    </div>

    <template  v-if="props.data.content.type === 'teasers'">
      <div class="mb-3" v-for="i in props.data.content.content">
        <h2 class="text-white">{{ i.title_bold }}</h2>
      </div>

      <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
        <div class="bg-blue-100 w-full md:w-[11.25rem] p-2 h-[6.25rem]" v-for="i in props.data.content.content">
          <p class="text-sm text-black">
            {{ i.title_normal }}
          </p>
        </div>
      </div>
    </template>

    <template v-else>
      <div class="mb-3">
        <h2 class="text-white">{{ seriesTitle }}</h2>
      </div>

      <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
        <div class="bg-blue-100 w-full md:w-[11.25rem] p-2 h-[8.25rem]" v-for="item in props.data.content.series">
          <div class="text-sm text-black">
            <p>{{ item.id }}</p>
            <p>{{ item.name }}</p>
            <p>{{ item.lowest_price }}</p>
            <p>{{ item.albums_cost }}</p>
          </div>
        </div>
      </div>
    </template>


  </div>

</template>

