<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head {{ HEAD_ATTRS }}>
    {{ HEAD.replace(new RegExp('<link rel="preload" href="/_nuxt/([a-f0-9]{7})\.js" as="script">', 'g'), '') }}
  </head>
  <body {{ BODY_ATTRS }}>
    {{ APP.replace(new RegExp('script src="/_nuxt/([a-f0-9]{7})\.js"', 'g'), 'script lazy-src="/_nuxt/$1.js"') }}
    <script type="text/javascript">
			const lazyLoadTimeout = 2500; // ms
      const userInteractionEvents = ["mouseover", "keydown", "touchstart", "touchmove", "wheel"];
      const loadScriptsTimer = setTimeout(loadScripts, lazyLoadTimeout);
      function loadScripts() {
        Array.from(document.querySelectorAll("script[lazy-src='lazy']")).forEach(function(elem) {
          elem.setAttribute("src", elem.getAttribute("lazy-src"));
          elem.removeAttribute("lazy-src");
        })
      }

			userInteractionEvents.forEach(function(event) {
        window.addEventListener(event, triggerScriptLoader, { passive: true}) });
        function triggerScriptLoader() {
          loadScripts();
          clearTimeout(loadScriptsTimer);
          userInteractionEvents.forEach(function(event) {
            window.removeEventListener(event, triggerScriptLoader, { passive: true })
          })
        }

    </script>
  </body>
</html>