<script setup>
import {onBeforeMount, reactive, ref, toRaw} from 'vue'
import {useFetch} from 'nuxt/app';

const loading = ref(true)

const runtimeConfig = useRuntimeConfig()

const headers = {Authorization: 'Bearer q1234567890'}

const TOP_ALBUM_URL = `${runtimeConfig.public.apiBase}/api/catalog/top/bd`
const TEASERS_URL = `${runtimeConfig.public.apiBase}/api/catalog/marketing/bd`
const SERIES_LIST_URL = `${runtimeConfig.public.apiBase}/api/catalog/next/bd/`

let data = reactive([])

const filteredList = reactive([])

const {data: topAlbums} = await useFetch(TOP_ALBUM_URL, {headers, server: true})
const {data: teaserslist} = await useFetch(TEASERS_URL, {headers, server: true})
const series = reactive([])

const CONTENT_TYPES = {
  topAlbums: 'topAlbum',
  teasersList: 'teasers',
  seriesList: 'series'
}

data.push(
  {type: CONTENT_TYPES.topAlbums, content: topAlbums.value},
  {type: CONTENT_TYPES.teasersList, content: teaserslist.value}
)

filteredList.push({
  order: 0, content: {type: CONTENT_TYPES.topAlbums, content: topAlbums.value},
})

const CONTENT_ORDER = reactive({
  topAlbum: [
    {
      order: 0,
      type: CONTENT_TYPES.topAlbums
    }
  ],
  series: [
    {
      order: 1,
      seriesType: 'new',
      type: CONTENT_TYPES.seriesList
    },
    {
      order: 3,
      seriesType: 'all',
      type: CONTENT_TYPES.seriesList
    },
    {
      order: 5,
      seriesType: 'notGenre',
      type: CONTENT_TYPES.seriesList
    },
    {
      order: 6,
      seriesType: 'genre',
      type: CONTENT_TYPES.seriesList
    }
  ],
  teasers: [
    {
      order: 2,
      count: 2,
      type: CONTENT_TYPES.teasersList
    },
    {

      order: 4,
      count: 1,
      type: CONTENT_TYPES.teasersList
    }
  ]
})

const seriesRules = CONTENT_ORDER[CONTENT_TYPES.seriesList]
const teasersRules = CONTENT_ORDER[CONTENT_TYPES.teasersList]


function setTeasersOrder(content, contentOrderRules) {

  data.splice(1, 1)

  contentOrderRules.forEach(rule => {
    if (contentOrderRules.indexOf(rule) === 0) {
      filteredList.push({ order: rule.order, content: { type: CONTENT_TYPES.teasersList, content: [content.value.list[0]]}})
    } else if (contentOrderRules.indexOf(rule) === 1) {
      filteredList.push({ order: rule.order, content: { type: CONTENT_TYPES.teasersList, content: content.value.list.slice(1, 3)}})
    }
  })

}

function setSeriesOrder(content, contentOrderRules) {

  content.forEach(el => {
    contentOrderRules.forEach(rule => {
      if (el.content.type === rule.seriesType) {
        filteredList.push({ order: rule.order, content: el.content })
      }
    })
  })

}


async function setContentOrder() {
  await setTeasersOrder(teaserslist, teasersRules)
  await setSeriesOrder(series, seriesRules)

  console.log(filteredList)

  let sorted = filteredList.sort((order1, order2) => order1.order - order2.order)

  console.log(sorted)
  data = []
  sorted.forEach(el => {
    data.push(toRaw(el))
  })

  console.log(data)
}


async function getSeries(cnt) {
  let counter = cnt
  for (let i = 0; i < counter; i++) {
    const {data: seriesList, _, error} = await useFetch(SERIES_LIST_URL + i, {
      headers
    });

    if (error.value) {
      return
    }

    if (!seriesList.value?.series?.length) {
      counter++
    } else {
      series.push(
        {type: CONTENT_TYPES.seriesList, content: seriesList.value}
      )

    }
  }
}

const seriesCount = Object.keys(CONTENT_ORDER.series).length

async function getClientData() {
  await getSeries(seriesCount)
}

onBeforeMount(async () => {
  if (process.client) {
    await getClientData()
    await setContentOrder()

    loading.value = false
  }
})

</script>

<template>

  <main>
    <div class="relative px-6 lg:px-8 bg-indigo-600">
      <div class="mx-auto container pt-20 pb-32">
        <div class="flex justify-between flex-wrap">
          <Loading v-if="loading"></Loading>
          <CatalogContent
            v-for="(block, index) in data"
            :type="block.type"
            :data="block"
            :itemIndex="index"
          ></CatalogContent>
        </div>
      </div>
    </div>
  </main>

</template>